---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/astrocomponents/landing.astro";
import SwishSpotlight from "../components/reactcomponents/spolight.tsx";
import SwishNews from "../components/reactcomponents/previewNews.tsx";
import SwishAbout from "../components/reactcomponents/about.tsx";
import SwishContact from "../components/reactcomponents/contact.tsx";
---

<Layout>
  <Landing />
  <div class="h-screen"></div>
  <SwishSpotlight client:load />
  <SwishNews client:load />
  <SwishAbout client:load />
  <SwishContact client:load />
</Layout>
