<section class="landing">
  <div class="container-landing">
    <h1 class="landing-h1">Welcome to <span>Swish-AG</span></h1>
    <p class="landing-p1">
      Get the latest NBA updates and find out which teams are taking the win
      today!
    </p>
  </div>
</section>
