<section class="landing">
  <div class="container-landing">
    <h1 class="landing-h1">Welcome to <span>Swish-AG</span></h1>
    <p class="landing-p1">
      Get the latest NBA updates and find out which teams are taking the win
      today!
    </p>
    <div class="gif-frame">
      <iframe
        src="https://giphy.com/embed/tsNfwFd8cveN8YJyDj"
        width="450"
        height="450"
        class="giphy-embed"
        allowfullscreen={true}></iframe>
      <p class="landing-p2">
        <a
          href="https://giphy.com/gifs/SportsManias-sports-nba-jump-tsNfwFd8cveN8YJyDj"
          target="_blank"
          rel="noopener noreferrer"
        >
          via GIPHY
        </a>
      </p>
    </div>
  </div>
</section>
