<footer>
  <div
    class="flex justify-center items-center py-4 min-h-[50vh] max-h-[80vh] bg-[#121212]"
  >
    <p class="text-sm text-[#cccccc] tracking-widest">
      © 2024 Swish-AG. All rights reserved.
    </p>
  </div>
</footer>z
