---
import "../styles/global.css";
import SwishHeader from "../components/reactcomponents/swishHeader.tsx";
import SwishFooter from "../components/astrocomponents/swishFooter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/swishlogo.PNG" />
    <meta name="generator" content={Astro.generator} />
    <title>Swish-AG</title>
  </head>
  <body>
    <SwishHeader client:load />
    <main>
      <slot />
    </main>
    <SwishFooter />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
  }
</style>
